<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfinPhoto.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Quiroga Lucas Lautaro</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis earum ratione tenetur necessitatibus provident dicta officia corporis vero, sit quae, accusamus optio perspiciatis odit! Repellendus harum repudiandae modi magni autem quaerat, numquam est deleniti necessitatibus nam impedit voluptatum quos ipsa fugit totam laborum at suscipit architecto nihil a. Illum praesentium nesciunt laboriosam saepe nam corrupti, quae voluptatem. Tempore beatae quis cumque expedita rem similique cum omnis voluptates ad odit nihil architecto ea quas aperiam nam odio labore, officiis placeat consectetur. Facilis nihil repellat consectetur quo hic illum consequuntur ab in incidunt a quam, aliquam illo quis, porro aliquid dolores quaerat!</p>
        </span>
    </div>
</div>