<div class="row">
    <h1>ExperienciaLaboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nihil error deserunt, esse delectus quasi hic? Dignissimos delectus veniam repellendus.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nihil error deserunt, esse delectus quasi hic? Dignissimos delectus veniam repellendus.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nihil error deserunt, esse delectus quasi hic? Dignissimos delectus veniam repellendus.</p>
        </ul>
    </div>
</div>
